#checkDateWrapper {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  margin-bottom: 20px;
}
#checkDateWrapper #checkDate {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}
#checkDateWrapper #checkDate .formInput {
  margin-bottom: 14px;
}
#checkDateWrapper #checkDate .textInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #666;
}
#checkDateWrapper #checkDate .checkDateBtn {
  width: 100%;
  padding: 10px;
  background: #0073aa;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 1;
}
#checkDateWrapper #checkDate .checkDateBtn:hover {
  opacity: 0.8;
}
#checkDateWrapper #parking-options {
  margin-top: 30px;
  display: none;
}
#checkDateWrapper #parking-options h1 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}
#checkDateWrapper #parking-options #parkingGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}
#checkDateWrapper #parking-options #parkingGrid .parking-option {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
#checkDateWrapper #parking-options #parkingGrid .parking-option h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
#checkDateWrapper #parking-options #parkingGrid .parking-option p {
  font-size: 14px;
  margin-bottom: 5px;
}
#checkDateWrapper #parking-options #parkingGrid .parking-option .checkDateBtn {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 1;
}
#checkDateWrapper #parking-options #parkingGrid .parking-option .checkDateBtn:hover {
  opacity: 0.8;
}
#checkDateWrapper #error {
  color: red;
  font-weight: bold;
  display: none;
  border: 1px solid red;
  border-radius: 5px;
}
#checkDateWrapper #error #errorincontent {
  margin: 0px;
  font-weight: 300;
}

.offerDetail {
  background-color: #fff;
}
.offerDetail .book-now {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  background: #a0ce4e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 1;
  min-width: 200px;
}
.offerDetail .book-now:hover {
  opacity: 0.8;
}
.offerDetail .sold-out {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  background: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: unset;
  transition: all 0.3s;
  opacity: 1;
  min-width: 200px;
}

#orderFormWrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}
#orderFormWrapper #orderWrapperLeft {
  grid-column: span 8;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}
#orderFormWrapper #orderWrapperRight {
  grid-column: span 4;
}
#orderFormWrapper #orderWrapperRight #orderWrapperRightInner {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}